{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-header header-filter" data-parallax="true"
        style="background-image: url('../assets/img/city-profile.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">


                <div class="row container">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="title" align="center">House Hold</h2>
                            </div>

                            <div class="card-body">
                                <form role="form" method="post" action="">
                                    {% csrf_token %}

                                    <div class="row">
                                        <div class="col-md-6 pr-md-1">
                                            <div class="form-group">
                                                <label for="BuildingNo">Serial Number:</label>
                                                <input id="BuildingNo" type="text" name="BuildingNo"
                                                    class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="Name">First Name: </label>
                                                <input id="HeadName" type="text" class="form-control" name="fname">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="MiddleName">Middle Name: </label>
                                                <input id="MiddleName" type="text" class="form-control" name="mname">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="LastName">Last Name: </label>
                                                <input id="LastName" type="text" class="form-control" name="lname">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="HeadSex"> Sex (Head): </label>
                                                <select name="HeadSex" class="form-control" id="HeadSex">
                                                    <option value="1">Female</option>
                                                    <option value="2">Male</option>
                                                    <option value="3">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="DOB">DOB : </label>
                                                <input id="DOB" type="date" class="form-control" name="dob">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="birthPlace">Birthplace : </label>
                                                <input id="birthPlace" type="text" class="form-control"
                                                    name="birthPlace">
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="lastMigrated">Birth : </label><br>
                                                <input type="radio" id="rural" value="literate" name="birthPlaceBool">
                                                <label for="Within India">Within India</label><br>
                                                <input type="radio" id="urban" value="illiterate" name="birthPlaceBool">
                                                <label for="outside India">outside India</label><br>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="Age">Age : </label>
                                                <input id="Age" type="text" class="form-control" name="age">
                                            </div>
                                        </div>

                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="placeOfLastResidence">Place of last residence : </label>
                                                <input id="placeOfLastResidence" type="text" class="form-control"
                                                    name="placeOfLastResidence">
                                            </div>
                                        </div>



                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="lastMigrated">Residence : </label><br>
                                                <input type="radio" id="rural" value="placeOfLastResidenceBool" name="placeOfLastResidenceBool">
                                                <label for="Within India">Within India</label><br>
                                                <input type="radio" id="urban" value="placeOfLastResidenceBool" name="placeOfLastResidenceBool">
                                                <label for="outside India">outside India</label><br>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="lastMigrated">Last migrated : </label><br>
                                                <input type="radio" id="rural" value="lastMigrated" name="lastMigrated">
                                                <label for="Within India">Within India</label><br>
                                                <input type="radio" id="urban" value="lastMigrated" name="lastMigrated">
                                                <label for="outside India">outside India</label><br>
                                                </select>
                                            </div>
                                        </div>

                                        

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="martialStatus">Martial Status : </label>
                                                <select name="martialStatus" id="martialStatus" class="form-control">
                                                    <option value="1">Never-Married</option>
                                                    <option value="2">Currently-Married'</option>
                                                    <option value="3">Widowed</option>
                                                    <option value="4">Separated</option>
                                                    <option value="5">Divorced</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="religion">Religion choices :</label>
                                                <select name="religion" id="religion" class="form-control">
                                                    <option value="1">Hindu</option>
                                                    <option value="2">Muslim</option>
                                                    <option value="3">Christian</option>
                                                    <option value="4">Sikh</option>
                                                    <option value="5">Buddhist</option>
                                                    <option value="6">Jain</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="disability">Disability choices :</label>
                                                <select name="disability" id="disability" class="form-control">
                                                    <option value="1">Seeing</option>
                                                    <option value="2">Hearing</option>
                                                    <option value="3">Speech</option>
                                                    <option value="4">Movement</option>
                                                    <option value="5">Mental-Retardness'</option>
                                                    <option value="6">Mental-Illness</option>
                                                    <option value="7">Multiple-Disability'</option>
                                                    <option value="8">Other</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="scst">Cast choices :</label>
                                                <select name="scst" id="scst" class="form-control">
                                                    <option value="1">Scheduled-Caste</option>
                                                    <option value="2">Scheduled-Tribe</option>
                                                    <option value="3">None</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="motherTongue">Mother Tongue : </label>
                                                <input id="motherTongue" type="text" class="form-control"
                                                    name="motherTongue">
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="literate">Finding work :</label><br>
                                                <input type="radio" id="rural" name="literate" value="literate">
                                                <label for="illiterate">Literate</label><br>
                                                <input type="radio" id="urban" name="illiterate" value="illiterate">
                                                <label for="No">Illiterate</label><br>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="literate">State of Attendence : </label><br>
                                                <input type="radio" id="rural" value="literate" name="statusOfAttendance">
                                                <label for="illiterate">Literate</label><br>
                                                <input type="radio" id="urban" value="illiterate" name="statusOfAttendance">
                                                <label for="No">Illiterate</label><br>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="highestEDUAttained">Highest Qualification :</label>
                                                <select name="highestEDUAttained" id="highestEDUAttained"
                                                    class="form-control">
                                                    <option value="1">School</option>
                                                    <option value="2">College</option>
                                                    <option value="3">Vocational</option>
                                                    <option value="4">Special Institution For Disabled</option>
                                                    <option value="5">Literacy-Centre</option>
                                                    <option value="6">Other-Institution</option>
                                                    <option value="7">None</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="workedAs">Category of worker : </label>
                                                <select name="workedAs" id="workedAs" class="form-control">
                                                    <option value="1">Cultivator</option>
                                                    <option value="2">Agricultural-Labourer</option>
                                                    <option value="3">Work In household industry</option>
                                                    <option value="4">Other</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="workedLike">Type of worker :</label>
                                                <select name="workedLike" id="workedLike" class="form-control">
                                                    <option value="1">Main-Worker</option>
                                                    <option value="2">Marginal-Worker</option>
                                                    <option value="3">Non-Worker</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="nonWorkerType">Non worker type : </label>
                                                <select name="nonWorkerType" id="workerClass" class="form-control">
                                                    <option value="1">Student</option>
                                                    <option value="2">Household-Duties</option>
                                                    <option value="3">Dependent</option>
                                                    <option value="4">Pensioner</option>
                                                    <option value="5">Rentier</option>
                                                    <option value="6">Beggar</option>
                                                    <option value="7">Other</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="findingWork">Finding work :</label><br>
                                                <input type="radio" id="rural" name="findingWork" value="findingWork">
                                                <label for="Yes">Yes</label><br>
                                                <input type="radio" id="urban" name="findingWork" value="findingWork">
                                                <label for="No">No</label><br>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="describeWork">Describe Work : </label>
                                                <input id="describeWork" type="text" class="form-control"
                                                    name="describeWork">
                                            </div>
                                        </div>

                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="industryType">Industry type : </label>
                                                <input id="industryType" type="text" class="form-control"
                                                    name="industryType">
                                            </div>
                                        </div>


                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="modeOfTravel">Mode of travel : </label>
                                                <select name="modeOfTravel" id="modeOfTravel" class="form-control">
                                                    <option value="1">On Foot</option>
                                                    <option value="2">Bicycle</option>
                                                    <option value="3">Moped/Scooter/Motor-Cycle</option>
                                                    <option value="4">Car/Jeep/VAN </option>
                                                    <option value="5">Literacy Centre</option>
                                                    <option value="6">Other Institution</option>
                                                    <option value="7">None</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label for="disOfTravelInKm">Distance travelled for work : </label>
                                                <input id="disOfTravelInKm" type="text" class="form-control"
                                                    name="disOfTravelInKm">
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="workerClass">Class of worker : </label>
                                                <select name="workerClass" id="workerClass" class="form-control">
                                                    <option value="1">Employer</option>
                                                    <option value="2">Employee</option>
                                                    <option value="3">Single-Worker</option>
                                                    <option value="4">Family-Worker</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="cameFrom">Came from : </label><br>
                                                <input type="radio" id="rural" name="cameFrom" value="cameFrom">
                                                <label for="rural">Rural</label><br>
                                                <input type="radio" id="urban" name="cameFrom" value="cameFrom">
                                                <label for="urban">Urban</label><br>

                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="durOfStayAfterMigration">Duration of stay after migration :
                                                </label>
                                                <input id="durOfStayAfterMigration" type="Number" class="form-control"
                                                    name="durOfStayAfterMigration">
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="curChildren">Number Of current : </label>
                                                <input id="curChildren" type="Number" class="form-control"
                                                    name="curChildren">
                                            </div>
                                        </div>

                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label for="totChildren">Number Of Married Couples: </label>
                                                <input id="totChildren" type="Number" class="form-control"
                                                    name="totChildren">
                                            </div>
                                        </div>


                                    </div>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-fill btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}